@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Add Pizzas to your new Order @Model.OrderId</h1>

<a asp-action="ViewOrderPizza" asp-controller="OrderPizza" asp-route-id="@Model.OrderId">View Order</a>


<div>
    <h4>Meat Pizza</h4>
    <form method="post" asp-action="Create" asp-controller="OrderPizza">
        <input type="hidden" id="orderid" name="orderid" value="@Model.OrderId" />
        <label for="pizzaid">Choose a size</label>
        <select id="pizzaid" name="pizzaid">
            <option value="3">Small</option>
            <option value="1">Medium</option>
            <option value="5">Large</option>
        </select><br />
        <label for="quantity">Input Quantity</label>
        <input type="number" id="quantity" name="quantity" /><br />
        <input type="submit" value="Add To Order" />
    </form>
</div>

<div>
    <h4>Vegan Pizza</h4>
    <form method="post" asp-action="Create" asp-controller="OrderPizza">
        <input type="hidden" id="orderid" name="orderid" value="@Model.OrderId" />
        <label for="pizzaid">Choose a size</label>
        <select id="pizzaid" name="pizzaid">
            <option value="6">Small</option>
            <option value="2">Medium</option>
            <option value="7">Large</option>
        </select> 
        <label for="quantity">Input Quantity</label>
        <input type="number" id="quantity" name="quantity" /><br />
        <input type="submit" value="Add To Order" />
    </form>
</div>

<div>
    <h4>Custom Pizza</h4>
    <form method="post" asp-action="Create" asp-controller="Pizza">
        <input type="hidden" id="orderid" name="orderid" value="@Model.OrderId" />
        <label for="sizeid">Choose a size</label>
        <select id="sizeid" name="sizeid">
            <option value="1">Small</option>
            <option value="2">Medium</option>
            <option value="3">Large</option>
        </select><br />
        <label for="crustid">Choose a crust</label>
        <select id="crustid" name="crustid">
            <option value="1">RegularCrust</option>
            <option value="2">CheestCrust</option>
            <option value="3">GarlicCrust</option>
        </select><br />
        <label for="toppingid">Pick Your Toppings</label>
        <select multiple name="toppingid" id="toppingid">
            <option value="1">Pepperoni</option>
            <option value="2">Sausage</option>
            <option value="3">Olives</option>
            <option value="4">Spinach</option>
            <option value="5">MozzerellaCheese</option>
            <option value="6">BellPepper</option>
        </select><br />
        <label for="quantity">Input Quantity</label>
        <input type="number" id="quantity" name="quantity" /><br />
        <input type="submit" value="Add To Order" />
    </form>
</div>


